.fml-string {
    font-size: large;
    text-decoration: none;
}

#logo {
	font-size: 40px;
	text-decoration:none;
	color:#EDFF91; 
	float:left;
}

.fml-link {
	text-decoration:none;
	color:black;
}

ul.menu {
	float:right;
}

ul.menu li {
   display: inline; 
   list-style-type: none;
   text-transform: uppercase;
   border-right: 1px solid white;
   padding-left: 5px;
   padding-right: 5px;
}

li.current span {
   color: white; 
   padding: 5px 5px 3px 5px;
   font-size: 11px;
}

li.item a { 
	color: #EDFF91;
}

li.current a, a:visited, a:link {
   
   padding: 5px 5px 3px 5px;
   font-size: 11px;
}
#header {
	margin-left:auto;
	margin-right:auto;
	width:860px;
	height:80px;
}

.fml {
	margin-left:auto;
	margin-right:auto;
	width:860px;
	background-color:#EDFF91; 
	padding:10px;
	margin-bottom:10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

.comment {
	position:relative;
	right:-30px;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	background-color:#EDFF91; 
	padding:10px;
	margin-bottom:10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

#formBox {
	font-size:large;
	margin-left:auto;
	margin-right:auto;
	width:860px;
	background-color:#EDFF91; 
	padding:10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	
}

#showSubmit {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	font-size: large;
	color: #EDFF91;
}

